*.swp
*.swo
*.DS_Store
.env

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
*.sourcemaps
.sourcemaps
.idea/
.sass-cache/
.tmp/
.versions/
.sourcemaps/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
